@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-color: #ffd6ff;
  --secondary-color: #e7c6ff;
}

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  word-spacing: 0.1rem;
}

h1 {
  text-align: center;
  text-shadow: 3px 3px var(--secondary-color);
  background-color: var(--primary-color);
  padding: 3rem 0rem 2rem 0rem;
  margin: 0;
  font-size: 300%;
}

.article {
  padding: 1rem;
  background-color: var(--secondary-color);
}

.link {
  font-weight: bold;
  color: black;
}

#text-input {
  display: block;
  padding: 1rem;
  height: 15vh;
  margin: 1rem;
  width: 70%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-translate {
  display: block;
  font-size: larger;
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}


.container-center {
  margin: auto;
  max-width: 550px;
  text-align: center;
}

.output-header {
  font-size: 20px;
  padding-top: 2rem;
}

#output {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0rem 2rem 0rem;
  height: 15vh;
  width: 70%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem 1rem 0rem;
  margin: 0;
}

@media (max-width: 500px) {
  * {
    font-size: small;
  }
}